/*! @theme base */

/*! @import 'default'; */
@import '//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|BIZ+UDPGothic&display=swap';

:root {
  --main-color: #607d8b;
  --sub-color: #b0bec5;
  --accent-color: #78909c;
  --white: white;
  --black: #212121;
  --grey: #9e9e9e;
  --h1-color: var(--black);
  --h2-color: var(--black);
  --h3-color: var(--black);
  --h4-color: var(--black);
  --h5-color: var(--black);
  --h6-color: var(--black);
  --header-footer-color: var(--black);
  --text-color: var(--black);
  --background-theme: var(--white);
  --background-code: #efefef;
  --background-code-border: #dcdcd5;
  --h1-font-size: 50px;
  --h2-font-size: 45px;
  --h3-font-size: 40px;
  --h4-font-size: 35px;
  --h5-font-size: 28px;
  --h6-font-size: 20px;
  --main-font-size: 20px;
  --header-footer-font-size: 16px;
  --normal-border-radius: 5px;
}

section {
  width: 100dvh;
  height: 100dvh;
  padding: 0 40px;
  font-family: 'BIZ UDPGothic', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  font-size: var(--main-font-size);
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-theme);

  header {
    position: absolute;
    top: 0;
    left: 40px;
    width: 100dvh;
    padding-bottom: 20px;
    font-size: var(--header-footer-font-size);
    color: var(--header-footer-color);

    &::before {
      display: inline-block;
      width: 8px;
      height: 50px;
      margin-right: 16px;
      margin-bottom: -2px;
      content: '';
      background-color: var(--text-color);
    }
  }

  footer {
    width: 100dvh;
    height: 50px;
    font-size: var(--header-footer-font-size);
    line-height: 50px;
    color: var(--header-footer-color);
    text-align: right;
  }

  h1 {
    /* border-bottom: 2px solid var(--black); */
    padding-bottom: 10px;
    font-size: var(--h1-font-size);
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: 400;
  }

  h3 {
    font-size: var(--h3-font-size);
    font-weight: 400;
  }

  h4 {
    font-size: var(--h4-font-size);
    font-weight: 400;
  }

  h5 {
    font-size: var(--h5-font-size);
    font-weight: 400;
  }

  h6 {
    font-size: var(--h6-font-size);
    font-weight: 400;
  }

  p img {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
  }

  // for code block
  pre {
    padding: 8px;
    margin: 4px 0;
    overflow: visible;
    white-space: pre-wrap;
    background-color: var(--background-code);
    border: 1px solid var(--background-code-border);
    border-radius: 4px;

    code {
      padding: 4px 8px;
      color: var(--black);
      background-color: var(--background-code);
      border-radius: 4px;

      &.language-txt {
        color: var(--black);
      }
    }
  }

  // for code
  :not(pre) code {
    padding: 2px 3px 1px;
    line-height: 1;
    color: #e01e5a;
    border: 1px solid var(--background-code-border);
    border-radius: 3px;
  }

  ul,
  ol {
    padding-left: 40px;
  }

  &::after {
    content: '' attr(data-marpit-pagination) ' / '
      attr(data-marpit-pagination-total);
  }

  $display: block, inline, inline-block, inline-table, flex, contents, grid,
    ruby, list-item, none, inherit, table, table-caption, table-cell,
    table-column, table-column-group, table-footer-group, table-header-group,
    table-row, table-row-group;

  @each $i in $display {
    &.d-#{$i} {
      display: $i;
    }
  }

  $justify: center, start, end, flex-start, flex-end, left, right, normal,
    space-between, space-around, space-evenly, stretch, inherit, initial, revert,
    unset;

  @each $i in $justify {
    &.justify-#{$i} {
      justify-content: $i;
    }
  }

  $align: center, start, end, flex-start, flex-end, baseline, normal, stretch,
    inherit, initial, revert, unset;

  @each $i in $align {
    &.align-#{$i} {
      align-items: $i;
    }
  }

  $text-align: center, start, end, left, right, justify, inherit, initial,
    revert, unset;

  @each $i in $text-align {
    &.text-#{$i} {
      text-align: $i;
    }
  }

  $word-break: break-word, break-all, keep-all, normal, unset;

  @each $i in $word-break {
    @if $i == break-word {
      &.word-break {
        word-break: break-word;
      }
    } @else if $i == break-all {
      &.word-break-all {
        word-break: break-all;
      }
    } @else {
      &.word-break-#{$i} {
        word-break: $i;
      }
    }
  }

  $white-space: wrap, nowrap, break-spaces, normal, pre, pre-line, pre-wrap,
    unset;

  @each $i in $white-space {
    &.white-space-#{$i} {
      white-space: $i;
    }
  }

  $text-overflow: ellipsis, clip, unset;

  @each $i in $text-overflow {
    &.text-overflow-#{$i} {
      text-overflow: $i;
    }
  }

  $mix-blend-mode: normal, luminosity, screen, unset;

  @each $i in $mix-blend-mode {
    &.mix-blend-#{$i} {
      mix-blend-mode: $i;
    }
  }

  $line-height: (
    'xs': 1,
    'sm': 1.15,
    'md': 1.2,
    'lg': 1.5,
    'xl': 1.8
  );

  @each $k, $v in $line-height {
    .line-height-#{$k} {
      line-height: $v !important;
    }
  }

  @for $i from 0 through 100 {
    .w-#{$i} {
      width: $i * 1% !important;
    }
    .h-#{$i} {
      height: $i * 1% !important;
    }
  }

  @for $i from 0 through 200 {
    .top-#{$i} {
      top: $i * 1px;
    }
    .right-#{$i} {
      right: $i * 1px;
    }
    .left-#{$i} {
      left: $i * 1px;
    }
    .bottom-#{$i} {
      bottom: $i * 1px;
    }
    .top-n#{$i} {
      top: $i * -1px;
    }
    .right-n#{$i} {
      right: $i * -1px;
    }
    .left-n#{$i} {
      left: $i * -1px;
    }
    .bottom-n#{$i} {
      bottom: $i * -1px;
    }
  }

  $vertical-align: top, middle, bottom, baseline, revert, sub, super, text-top,
    text-bottom, inherit, initial, unset;

  @each $i in $vertical-align {
    .vertical-#{$i} {
      vertical-align: $i !important;
    }
  }

  $box-sizing: border-box, content-box, inherit, initial, revert, unset;

  @each $i in $box-sizing {
    .box-sizing-#{$i} {
      box-sizing: $i;
    }
  }
}
