/*! @theme brown */

/*! @import 'base'; */

:root {
  --main-color: #6e5a40;
  --sub-color: #f4ede5;
  --accent-color: #e53760;
  --grey: #eae7e5;
  --h1-color: var(--main-color);
  --h2-color: var(--main-color);
  --h3-color: var(--main-color);
  --h4-color: var(--main-color);
  --h5-color: var(--main-color);
  --h6-color: var(--main-color);
  --heading-strong-color: var(--main-color);
  --header-footer-color: var(--main-color);
  --text-color: var(--main-color);
  --header-footer-font-size: 24px;
}

section {
  &.invert {
    --background-theme: var(--main-color) !important;
  }
}
