/*! @theme navy_blue */

/*! @import 'base'; */

:root {
  --main-color: #003566;
  --sub-color: #abc1d6;
  --accent-color: #fec500;
  --grey: #eeeef1;
  --h1-color: var(--main-color);
  --h2-color: var(--main-color);
  --h3-color: var(--main-color);
  --h4-color: var(--main-color);
  --h5-color: var(--main-color);
  --h6-color: var(--main-color);
  --heading-strong-color: var(--main-color);
  --header-footer-color: var(--main-color);
  --text-color: var(--main-color);
  --header-footer-font-size: 24px;
}
