/*! @theme thesis */

/*! @import 'base'; */
@import '//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|BIZ+UDPGothic&display=swap';

section {
  font-family: 'BIZ UDPGothic', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;

  > blockquote {
    position: absolute;
    bottom: 20px;
    width: 100%;
    max-width: 90%;
    padding: 4px 12px 0;
    font-size: 60%;
    border-top: 0.1em dashed #555;
    border-left: none;

    blockquote {
      display: none;
    }
  }

  > blockquote::before {
    content: '';
  }

  > blockquote::after {
    content: '';
  }

  footer {
    display: none;
  }
}
